@model Banco.Models.Gerente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gerente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasVacaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasVacaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominaNavigation.Nomina)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumNom">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
